/pkg
/bin
/src/github.com
/src/golang.org
/src/google.golang.org
/src/gopkg.in
/src/DHNServer/log
/src/DHNServer/upload
/src/DHNServer/*.ini
/src/DHNServer/DHNCenter
/src/DHNServer/DHNServer
/logs
DHNCenter5
DHNServer5
DHNCenter_b2b_test
DHNServer_b2b_test